@using Sertec.View.Models
@model CondicionVentaViewModel
@{ if (Model.ExisteDatos == false)
    {
        <div class="col-md-12">
            <div id="foreign_checkbox" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>CONDICIONES DE VENTA</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <div><a href="#">Descuentos Ofrecidos</a> </div>
                            </td>
                        </tr>
                    </table>
                    <div class="col-xs-4 text-center" style="width:100%">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.DescuentoQuince, "1", new { @id = "descCinco", @class = "radio", onclick = "SeleccionTexto()" })
                                </td>
                                <td>
                                    5%
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.DescuentoQuince, "2", new { @id = "descQuince", @class = "radio", onclick = "SeleccionTexto()" })
                                </td>
                                <td>
                                    15%
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.DescuentoQuince, "3", new { @id = "descOtro", @class = "radio", onclick = "SeleccionTexto()" })
                                </td>
                                <td>
                                    OTRO
                                </td>
                                <td>
                                    <input type="text" id="TextBox_DescOtro" name="Otro" disabled="disabled">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <HR />
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <div><a href="#">Forma de Pago</a> </div>
                            </td>
                        </tr>
                    </table>
                    <div class="col-xs-4" style="width:100%">
                        <table class="table table-striped" style="width:100%">
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.RadioButtonFor(m => m.PagoCien, "1", new { @id = "apCien", @class = "radio", onclick = "SeleccionTextoFP()" })
                                    </td>
                                    <td>
                                        100% Contra factura al termino de los trabajos
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.RadioButtonFor(m => m.PagoCien, "2", new { @id = "apCincuenta", @class = "radio", onclick = "SeleccionTextoFP()" })
                                    </td>
                                    <td>
                                        50% Con la orden y saldo contra factura
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.RadioButtonFor(m => m.PagoCien, "3", new { @id = "apCuota", @class = "radio", onclick = "SeleccionTextoFP()" })
                                    </td>
                                    <td>N° Cuotas</td>
                                    <td><input type="text" id="TextBox_Cuotas" name="Cuotas" disabled="disabled"></td>
                                </tr>
                                <tr style="width:90%">
                                    <td style="width:10%">
                                        @Html.RadioButtonFor(m => m.PagoCien, "4", new { @id = "apOtro", @class = "radio", onclick = "SeleccionTextoFP()" })
                                    </td>
                                    <td>
                                        Otro (Indicar)
                                    </td>
                                    <td>
                                        <input type="text" id="TextBox_Otros" name="Otros" disabled="disabled">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <hr />
                    <div>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <a href="#">Medio de Aprobación</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-4" style="width:100%">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.PresupuestoFirmado, "1", new { @id = "maCopia", @class = "radio", onclick = "SeleccionTextoMA()" })
                                </td>
                                <td>
                                    Copia de presupuesto firmado
                                </td>
                                <td></td>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.PresupuestoFirmado, "2", new { @id = "maOrden", @class = "radio", onclick = "SeleccionTextoMA()" })
                                </td>
                                <td>
                                    Orden de compra a travez de Chile Compra
                                </td>
                                <td></td>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.PresupuestoFirmado, "2", new { @id = "maOtro", @class = "radio", onclick = "SeleccionTextoMA()" })
                                </td>
                                <td>
                                    Otro (Indicar)
                                </td>
                                <td>
                                    <input type="text" id="TextBox_OtroMedioApro" name="OtroMedioApro" disabled="disabled">
                                </td>
                            </tr>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td colspan="2" style="text-align: right;">
                                        <button id="btnCrearTer" class="btn btn-success btn-sm" onclick="CrearCondicionVenta(@Model.NumeroContabilidad)">Agregar Condicion Venta</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="col-md-6">
            <div id="foreign_checkbox" class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>CONDICIONES DE VENTA</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <div><a href="#">Descuentos Ofrecidos</a> </div>
                            </td>
                        </tr>
                    </table>
                    <div class="col-xs-4 text-center" style="width:100%">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <input type="checkbox" class="radio" value="1" name="fooby[3][]" />
                                </td>
                                <td>
                                    5%
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="radio" value="1" name="fooby[3][]" />
                                </td>
                                <td>
                                    15%
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" class="radio" value="1" name="fooby[3][]" />
                                </td>
                                <td>
                                    OTRO
                                </td>
                                <td>
                                    <input type="text" id="TextBox_Otro" name="Otro" disabled="disabled" value="@Model.OtroDescuentoDescripcion">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <HR />
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <div><a href="#">Forma de Pago</a> </div>
                            </td>
                        </tr>
                    </table>
                    <div class="col-xs-4" style="width:100%">
                        <table class="table table-striped" style="width:100%">
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="radio" value="1" name="fooby[2][]" />
                                    </td>
                                    <td>
                                        100% Contra factura al termino de los trabajos
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="radio" value="1" name="fooby[2][]" />
                                    </td>
                                    <td>
                                        50% Con la orden y saldo contra factura
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="radio" value="1" name="fooby[2][]" />
                                    </td>
                                    <td>N° Cuotas</td>
                                    <td><input type="text" id="TextBox_Cuotas" name="Cuotas"></td>
                                </tr>
                                <tr style="width:90%">
                                    <td style="width:10%">
                                        <input type="checkbox" class="radio" value="1" name="fooby[2][]" />
                                    </td>
                                    <td>
                                        Otro (Indicar)
                                    </td>
                                    <td>
                                        <input type="text" id="TextBox_Otros" name="Otros">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <hr />
                    <div>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <a href="#">Medio de Aprobación</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-xs-4" style="width:100%">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <input type="checkbox" class="radio" value="1" name="fooby[1][]" />
                                </td>
                                <td>
                                    Copia de presupuesto firmado
                                </td>
                                <td></td>
                            <tr>
                                <td>
                                    <input type="checkbox" class="radio" value="2" name="fooby[1][]" />
                                </td>
                                <td>
                                    Orden de compra a travez de Chile Compra
                                </td>
                                <td></td>
                            <tr>
                                <td>
                                    <input type="checkbox" class="radio" value="3" name="fooby[1][]" />
                                </td>
                                <td>
                                    Otro (Indicar)
                                </td>
                                <td>
                                    <input type="text" id="TextBox_OtroMedioApro" name="OtroMedioApro">
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}

