@using Sertec.View.Models
@model CotizacionContabilidadViewModel

<div class="col-md-6">
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>HORAS PAREJAS VENDIDAS</td>
                        <td>@Model.HorasParejas</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FLETES</td>
                        <td>@Model.CantidadFletes</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>DURACIÓN DE TRABAJOS (días)</td>
                        <td>@Model.DuracionTrabajo</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FECHA PROBABLE DE EJECUCIÓN</td>
                        <td>02-OCT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TECNICO ASIGNADO</td>
                        <td>@Model.TecEmisor</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FECHA INICIO</td>
                        <td>01-OCT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FECHA TERMINO</td>
                        <td>01-OCT</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>GUIA DE DESPACHO N°</td>
                        <td>256</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FACTURA N°</td>
                        <td>1009</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>MES FACTURACIÓN</td>
                        <td>OCTUBRE</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:60%">RESUMEN</th>
                        <th style="width:30%">VALOR</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MANO DE OBRA</td>
                        <td>@Model.ValorManoObra</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>REPUESTOS</td>
                        <td>@Model.ValorRepuestos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TERCEROS</td>
                        <td>@Model.ValorTerceros</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>FLETES</td>
                        <td>20.250</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>SUB-TOTAL</td>
                        <td>426.750</td>
                        <td>..</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:60%">COMISIONES</th>
                        <th style="width:30%"></th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3% VENDEDOR</td>
                        <td>12.803</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1.8% OTROS</td>
                        <td>85.350</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>TOTAL NETO</td>
                        <td>524.903</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>..</td>
                        <td>..</td>
                        <td>..</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--/panel-->
</div>