@using Sertec.View.Models
@model CotizacionViewModel
@{
    ViewBag.Title = "Cotizacion";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<script type="text/javascript" language="javascript">
    var urlAgregarRepuesto = "@Url.Action("IngresarRepuesto_Submit", "Dashboard")";
    var urlEliminarRepuesto = "@Url.Action("EliminarRepuesto_Submit", "Dashboard")";
    var urlAgregarTerceros = "@Url.Action("IngresarTerceros_Submit", "Dashboard")";
    var urlEliminarTerceros = "@Url.Action("EliminarTrabajoTerceros_Submit", "Dashboard")";
    var urlDatosCalculo = "@Url.Action("GuardarDatosCalculo", "Dashboard")";
    var urlTotalHP = "@Url.Action("ObtenerHpRepuesto", "Dashboard")";
    var urlSubTotalRep = "@Url.Action("ObtenerSubTotalRepuesto", "Dashboard")";
</script>
<a href="#"><strong>NUEVA COTIZACION</strong></a>
<hr />
<div>
    @using (Html.BeginForm("AgregarCotizacion", "Dashboard", FormMethod.Post, new { id = "formNuevaCotizacion" }))
    {
        <table class="table table-striped">
            <tr>
                <th>CALCULO DE PRESUPUESTO</th>
            </tr>
        </table>
        <hr />
        <div class="row">
            <div class="col-md-7">
                <table class="table table-striped">
                    <tr>
                        <td>OBRA</td>
                        <td>
                            @Html.TextBoxFor(m => m.Obra, new { @class = "form-control", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Obra, "", new { @class = "text-danger" })
                        </td>
                        <td style="width: 8px"></td>
                    </tr>
                    <tr>
                        <td>FECHA EMISION INFORME</td>
                        <td>
                            @Html.TextBoxFor(m => m.FechaEmision, new { @class = "form-control", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.FechaEmision, "", new { @class = "text-danger" })
                        </td>
                        <td style="width: 8px"></td>
                    </tr>
                    <tr>
                        <td>ASCENSOR</td>
                        <td>
                            @Html.TextBoxFor(m => m.Ascensor, new { @class = "form-control", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.Ascensor, "", new { @class = "text-danger" })
                        </td>
                        <td style="width: 8px"></td>
                    </tr>
                    <tr>
                        <td>TECNICO EMISOR</td>
                        <td>
                            @Html.DropDownListFor(s => s.TecEmisor, new SelectList(ViewBag.Supervisor, "IdSupervisor", "NombreSupervisor"), new { @class = "form-control input-md", Style = "width:90%" })
                        </td>
                        <td style="width: 8px"></td>
                    </tr>
                    <tr>
                        <td>SUPERVISOR</td>
                        <td>
                            @Html.DropDownListFor(s => s.Supervisor, new SelectList(ViewBag.Tecnicos, "Id", "Nombre"), new { @class = "form-control input-md", Style = "width:90%" })
                        </td>
                        <td style="width: 8px"></td>
                    </tr>
                    <tr>
                        <td>PRESUPUESTO REP N°</td>
                        <td>
                            @Html.TextBoxFor(m => m.PresupuestoNumero, new { @class = "form-control", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.PresupuestoNumero, "", new { @class = "text-danger" })
                        </td>
                        <td style="width: 8px"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <tr>
                        <td>VALOR UF</td>
                        <td>
                            @Html.TextBoxFor(m => m.ValorUf, new { @class = "form-control", id = "ValorUF", onKeyPress = "return soloNumeros(event)", onchange = "guardaDatosCalculo()", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.ValorUf, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>VALOR HP</td>
                        <td>
                            @Html.TextBoxFor(m => m.ValorHP, new { @class = "form-control", id = "ValorHP", onKeyPress = "return soloNumeros(event)", onchange = "guardaDatosCalculo()", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.ValorHP, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>VALOR FLETE</td>
                        <td>
                            @Html.TextBoxFor(m => m.ValorFlete, new { @class = "form-control", id = "ValorFlete", onKeyPress = "return soloNumeros(event)", onchange = "guardaDatosCalculo()", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.ValorFlete, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>FECHA CALC</td>
                        <td>
                            @Html.TextBoxFor(m => m.FechaCalculo, new { @class = "form-control", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.FechaCalculo, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PPTO N°</td>
                        <td>
                            @Html.TextBoxFor(m => m.PresupuestoNumero, new { @class = "form-control", Style = "width:90%", required = "required", maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.PresupuestoNumero, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
        <table class="table table-striped">
            <tr>
                <td>BREVE DESCRIPCION DE LA REPARACION A EFECTUAR</td>
            </tr>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.DetalleDescrip, new { @class = "form-control", Style = "width:90%", required = "required", maxlength = 250 })
                    @Html.ValidationMessageFor(m => m.DetalleDescrip, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <hr />
        {
            Html.RenderPartial("PresupuestoRepuesto");
        }
        <br />
        <div id="repuestoList">
        </div>
        //Html.RenderPartial("PresupuestoRepuestoList");
        <br />
        {
            Html.RenderPartial("PresupuestoTrabajoTercero");
        }
        <br />
        <div id="terceroList">
        </div>
        <br />
        <hr />
        <table class="table table-striped">
            <tr>
                <td>DURACION DE TRABAJOS</td>
                <td>
                    @Html.TextBoxFor(m => m.DuracionTrabajo, new { @class = "form-control", onKeyPress = "return soloNumeros(event)", Style = "width:50%", required = "required", maxlength = 250 })
                    @Html.ValidationMessageFor(m => m.DuracionTrabajo, "", new { @class = "text-danger" })
                </td>
                <td>DÍAS</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>RESUMEN</td>
                <td>VALOR</td>
                <td>%</td>
                <td>MANO DE OBRA</td>
                <td>VALOR</td>
            </tr>
            <tr>
                <td>MANO DE OBRA</td>
                <td>
                    @Html.HiddenFor(m => m.ValorManoObra, new { id = "hdValorManoObra" })
                    @Html.TextBoxFor(m => m.ValorManoObra, new { @class = "form-control", id = "TotalValorManoObra", disabled = "disabled", Style = "width:100%" })
                </td>
                <td><input type="text" name="mano2" value="0" style="width:50%" disabled="disabled" /></td>
                <td>SUB TOTAL</td>
                <td>
                    @Html.HiddenFor(m => m.Subtotal, new { id = "hdValorRepuestos" })
                    @Html.TextBoxFor(m => m.Subtotal, new { @class = "form-control", id = "idSubtotalHP", disabled = "disabled", Style = "width:100%" })
                </td>
            </tr>
            <tr>
                <td>REPUESTOS</td>
                <td>
                    @Html.HiddenFor(m => m.ValorRepuestos, new { id = "hdValorRepuestos" })
                    @Html.TextBoxFor(m => m.ValorRepuestos, new { @class = "form-control", id = "idTotalRepuestos", disabled = "disabled", Style = "width:100%" })
                </td>
                <td><input type="text" name="rep2" value="0" style="width:50%" disabled="disabled" /></td>
                <td>HORAS PAREJA</td>
                <td>
                    @Html.HiddenFor(m => m.HorasParejas, new { id = "hdTotalHp" })
                    @Html.TextBoxFor(m => m.HorasParejas, new { @class = "form-control", id = "TotalHP", disabled = "disabled", Style = "width:100%" })
                </td>
            </tr>
            <tr>
                <td>TERCEROS</td>
                <td>
                    @Html.TextBoxFor(m => m.ValorTerceros, new { @class = "form-control", onKeyPress = "return soloNumeros(event)", Style = "width:100%", required = "required", maxlength = 25 })
                    @Html.ValidationMessageFor(m => m.ValorTerceros, "", new { @class = "text-danger" })
                </td>
                <td><input type="text" name="ter2" value="0" style="width:50%" disabled="disabled" /></td>
                <td>RECARGO HH.EE.</td>
                <td>
                    @Html.TextBoxFor(m => m.RecargoHHEE, new { @class = "form-control", id = "idRecargoHHEE", onchange = "actualizarTotalRecargo(this)", onKeyPress = "return soloNumeros(event)", Style = "width:100%", required = "required", maxlength = 25 })
                    @Html.ValidationMessageFor(m => m.RecargoHHEE, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>FLETES</td>
                <td>
                    @Html.HiddenFor(m => m.ValorFlete, new { id = "hdFlete" })
                    @Html.TextBoxFor(m => m.ValorFlete, new { @class = "form-control", id = "idFlete", disabled = "disabled", Style = "width:100%" })
                </td>
                <td>
                    <input type="text" name="fle2" value="0" style="width:50%" disabled="disabled" />
                </td>
                <td>VALOR RECARGO</td>
                <td>
                    @Html.TextBox("ValorRecargo", "", new { @class = "form-control", id = "idValorRecargo", disabled = "disabled", Style = "width:100%" })
                </td>
            </tr>
            <tr>
                <td>SUB-TOTAL</td>
                <td>
                    @Html.HiddenFor(m => m.Subtotal, new { id = "hdSubTotal" })
                    @Html.TextBoxFor(m => m.Subtotal, new { @class = "form-control", id = "idSubtotal", disabled = "disabled", Style = "width:100%" })
                </td>
                <td></td>
                @*<td><input type="text" name="sub2" value="0" style="width:50%" disabled="disabled" /></td>*@
                <td>TOTAL MANO DE OBRA</td>
                <td>
                    @Html.HiddenFor(m => m.ValorManoObra, new { id = "hdValorMo" })
                    @Html.TextBoxFor(m => m.ValorManoObra, new { @class = "form-control", id = "idTotalManoObra", disabled = "disabled", onKeyPress = "return soloNumeros(event)", Style = "width:100%" })
                </td>
            </tr>
            <tr>
                <td>COMISIONES</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>VENTAS (3%)</td>
                <td>
                    @Html.HiddenFor(m => m.ValorVenta, new { id = "hdValorVenta" })
                    @Html.TextBoxFor(m => m.ValorVenta, new { @class = "form-control", id = "idValorVenta", disabled = "disabled", Style = "width:100%" })
                </td>
                <td><input type="text" name="venta2" value="3 %" style="width:50%" disabled="disabled" /></td>
                <td>FLETES (CANTIDAD)</td>
                <td>
                    @Html.TextBoxFor(m => m.CantidadFletes, new { @class = "form-control", onKeyPress = "return soloNumeros(event)", onchange = "actualizaTotalFletes(this)", Style = "width:100%", required = "required", maxlength = 25 })
                    @Html.ValidationMessageFor(m => m.CantidadFletes, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>MARGEN DE VENTA (20%)</td>
                <td>
                    @Html.HiddenFor(m => m.ValorMargenVenta, new { id = "hdMargenTotal" })
                    @Html.TextBoxFor(m => m.ValorMargenVenta, new { @class = "form-control", id = "idMargenVenta", disabled = "disabled", Style = "width:100%" })
                </td>
                <td><input type="text" name="margen2" value="20 %" style="width:50%" disabled="disabled" /></td>
                <td>TOTAL</td>
                <td>
                    @Html.HiddenFor(m => m.Total, new { id = "hdTotal" })
                    @Html.TextBoxFor(m => m.Total, new { @class = "form-control", id = "idTotalFletes", disabled = "disabled", Style = "width:100%" })
                </td>
            </tr>
            <tr>
                <td>TOTAL NETO</td>
                <td>
                    @Html.HiddenFor(m => m.TotalnetoComisiones, new { id = "hdTotalNeto" })
                    @Html.TextBoxFor(m => m.TotalnetoComisiones, new { @class = "form-control", id = "idTotalNeto", disabled = "disabled", Style = "width:100%" })

                </td>
                <td><input type="text" name="tn2" value="100 %" style="width:50%" disabled="disabled" /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input type="button" class="btn btn-danger btn-block " value="CANCELAR">
                </td>
                <td>
                    <input type="submit" class="btn btn-primary btn-block" id="Button2" value="FINALIZAR" />
                </td>
            </tr>
        </table>
    }
</div>
