@using Sertec.View.Models
@model IList<FacturacionViewModel>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>FACTURACIÓN EN CUOTAS</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 15%">N° CUOTA</th>
                        <th>N° FACTURA</th>
                        <th>VALOR</th>
                        <th>MES</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Select(c => c.Cotizacion).FirstOrDefault() != -1)
                    {
                        foreach (var name in Model)
                        {
                            <tr>
                                <td style="width: 15%">@name.NumeroCuotas</td>
                                <td>@name.Factura</td>
                                <td>@name.Valor</td>
                                <td>@name.Mes</td>
                                <td></td>
                            </tr>
                        }
                    }
                    <tr>
                        <td>@Html.TextBox("NumeroCuota", "", new { id = "txtNumCuota", style = "width: 90%" })</td>
                        <td>@Html.TextBox("NumeroFactura", "", new { id = "txtNumFact" })</td>
                        <td>@Html.TextBox("Valor", "", new { id = "txtValor" })</td>
                        <td>@Html.TextBox("Mes", "", new { id = "txtMes" })</td>
                        <td>
                            <button id="btnCrearFact" class="btn btn-success btn-sm" onclick="CrearFacturacion(@Model.Select(c=>c.Contabilidad).FirstOrDefault())">Agregar Cuota</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>