@using Sertec.View.Models
@model IList<ListaOperacionViewModel>
@{
    ViewBag.Title = "ListaGeneral";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    IList<ListaGeneralViewModel> registros = new List<ListaGeneralViewModel>();
    registros = ViewBag.ListGeneral;

}
<script type="text/javascript" language="javascript">
    var urlVerContabilidad = "@Url.Action("Contabilidad", "Dashboard")";
    var urlVerFacturacion = "@Url.Action("Facturacion", "Dashboard")";
    var urlVerCondicionVenta = "@Url.Action("CondicionVenta", "Dashboard")";
    var urlVerAprobacion = "@Url.Action("Aprobacion", "Dashboard")";
    var urlCrearCondicionVenta = "@Url.Action("IngresarCondicionVenta", "Dashboard")";
    var urlCrearAprobacion = "@Url.Action("IngresarAprobacion", "Dashboard")";
    var urlCrearFacturacion = "@Url.Action("IngresarFacturacion", "Dashboard")";
    var urlVerOperaciones = "@Url.Action("Operaciones", "Dashboard")";
</script>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.SearchTable.js")"></script>
    <script src="@Url.Content("~/Content/stylesSearchTable.css")"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
}
<h2>Lista Resumen</h2>
<div class="panel panel-default">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-th-list"></i>
                    <br> Lista General
                </a>
            </li>
            <li>
                <a id="tabEmpl" href="#employment" aria-controls="employment" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-th-large"></i>
                    <br> Lista Contabilidad
                </a>
            </li>
            <li>
                <a href="#Operations" aria-controls="Operations" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-file"></i>
                    <br> Lista Operaciones
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="personal">
                <hr />
                <div class="row">
                    <!-- Informativo-->
                    <div id="contenido" class="col-md-9">
                        @{
                            Html.RenderPartial("ListadoGeneralRegistro", registros);
                        }
                    </div>

                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="employment">
                <div class="row">
                    <!-- column 2 -->
                    <hr />
                    <div id="contabilidad" class="col-md-10"></div>
                    <div id="aprobacion" class="col-md-10"></div>
                    <div id="facturacion" class="col-md-10"></div>
                    <div id="condicionVenta" class="col-md-10"></div>
                </div>
                <!--/col-span-9-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Operations">
                <div class="row">
                    <hr />
                    <div id="operaciones" class="col-md-10"></div>
                    <!--/col-span-9-->
                </div>
            </div>
        </div>
    </div>
</div>