@using Sertec.View.Models
@{
    ViewBag.Title = "ListaGeneral";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

    IList<ListaGeneralViewModel> registros = new List<ListaGeneralViewModel>();
    registros = ViewBag.ListGeneral;

}
<script type="text/javascript" language="javascript">
    var urlVerContabilidad = "@Url.Action("Contabilidad", "Dashboard")";
    var urlVerFacturacion = "@Url.Action("Facturacion", "Dashboard")";
    var urlVerCondicionVenta = "@Url.Action("CondicionVenta", "Dashboard")";
</script>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery.SearchTable.js")"></script>
    <script src="@Url.Content("~/Content/stylesSearchTable.css")"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
}
<h2>Lista Resumen</h2>
@*<hr>
    <div class="panel panel-default">
        <div id="Tabs" role="tabpanel">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-primary col-sm-3">
                    <i class="glyphicon glyphicon-th-list"></i>
                    <br> Lista General
                </a>
                <a href="#" class="btn btn-primary col-sm-3">
                    <i class="glyphicon glyphicon-th-large"></i>
                    <br> Lista Contabilidad
                </a>
                <a href="#" class="btn btn-primary col-sm-3">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <br> Lista Operaciones
                </a>
                <a href="#" class="btn btn-primary col-sm-3">
                    <i class="glyphicon glyphicon-question-sign"></i>
                    <br> Help
                </a>
            </div>

            <hr>
        </div>
    </div>*@
<div class="panel panel-default">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-th-list"></i>
                    <br> Lista General
                </a>
            </li>
            <li>
                <a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-th-large"></i>
                    <br> Lista Contabilidad
                </a>
            </li>
            <li>
                <a href="#Operations" aria-controls="Operations" role="tab" data-toggle="tab">
                    <i class="glyphicon glyphicon-file"></i>
                    <br> Lista Operaciones
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="personal">
                <hr />
                <div class="row">
                    <!-- Informativo-->
                    <div id="contenido" class="col-md-9">
                        @{
                            Html.RenderPartial("ListadoGeneralRegistro", registros);
                        }
                    </div>
                    <div id="aprobacion"></div>
                    <div id="facturacion"></div>
                    <div id="condicionVenta" ></div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="employment">
                <div class="col-sm-12">
                    <!-- column 2 -->
                    <hr />
                    <div class="row">
                        <!-- center left-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>DETALLE:</h4>
                            </div>
                            <div class="panel-body">
                                <!--      Primera Tabla --->
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Obra</td>
                                                <td> <input type="text" id="TxtObra" name="Obra"></td>
                                                <td>Empresa</td>
                                                <td>Rut</td>
                                            </tr>
                                            <tr>
                                                <td>Fecha Aprobación</td>
                                                <td><input type="text" id="TxtFechaApro" name="FechaApro"></td>
                                                <td><input type="text" id="TxtEmpresa" name="Empresa"></td>
                                                <td><input type="text" id="TxtRut" name="Rut"></td>
                                            </tr>
                                            <tr>
                                                <td>Ascensor</td>
                                                <td> <input type="text" id="TxtAscen" name="Ascen"></td>
                                                <td>Dirección</td>
                                                <td>..</td>
                                            </tr>
                                            <tr>
                                                <td>Tecnico Emisor</td>
                                                <td> <input type="text" id="TxtTecEm" name="TecEm"></td>
                                                <td> <input type="text" id="TxtDireccion" name="Direccion"></td>
                                                <td>..</td>
                                            </tr>
                                            <tr>
                                                <td>Supervisor</td>
                                                <td> <input type="text" id="TxtSupervisor" name="Supervisor"></td>
                                                <td>..</td>
                                                <td>..</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/panel-body-->
                        </div>
                        <!--/panel-->
                        <hr />
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>New Requests</h4>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item active">INFORMO A UD. QUE CON ESTA FECHA SE HA APROBADO LO SIGUIENTE:</a>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:30%">PRESUPUESTO REP N°</td>
                                                <td style="width:40%"><input type="text" id="TextFechaApro" name="FechaApro"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width:20%">APROBADO POR</td>
                                                <td style="width:50%"><input type="text" id="Txt_APROBPOR" name="APROBPOR"></td>
                                                <td style="width:30%"> VENDEDOR</td>
                                            </tr>
                                            <tr>
                                                <td style="width:20%">TELEFONO CONTACTO</td>
                                                <td style="width:50%">
                                                    <input type="text" id="Txt_TELCONTA" name="TELCONTA">
                                                </td>
                                                <td style="width:30%">
                                                    <input type="text" id="Txt_VENDEDOR" name="VENDEDOR">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="list-group-item">BREVE DESCRIPCION DE LA REPARACIÓN A EFECTUAR</a>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <textarea name="detalleArea" id="tf_detalleArea" rows="4" cols="50">Enter text here...</textarea>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/col-->
                        <!-- COLUMNA IZQUIERDA-->

                        <!--/col-span-6-->
                        <!-- COLUMNA DERECHA-->
                    </div>
                    <!--/row-->
                </div>
                <!--/col-span-9-->
            </div>
            <div role="tabpanel" class="tab-pane" id="Operations">
                <hr />
                <div class="col-sm-12">
                    <!-- column 2 -->
                    <div class="row">
                        <!-- center left-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>DETALLE:</h4>
                            </div>
                            <div class="panel-body">
                                <!--      Primera Tabla --->
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>Obra</td>
                                                <td> TxtObra</td>
                                                <td>Empresa</td>
                                                <td>Rut</td>
                                            </tr>
                                            <tr>
                                                <td>Fecha Aprobación</td>
                                                <td>
                                                    <input id="CalendarFechaApro" type="datetime-local" style="height:25px" />
                                                </td>
                                                <td> TxtEmpresa</td>
                                                <td> TxtRut</td>
                                            </tr>
                                            <tr>
                                                <td>Ascensor</td>
                                                <td>TxtAscen</td>
                                                <td>Dirección</td>
                                                <td>..</td>
                                            </tr>
                                            <tr>
                                                <td>Tecnico Emisor</td>
                                                <td> TxtTecEm</td>
                                                <td> TxtDireccion</td>
                                                <td>..</td>
                                            </tr>
                                            <tr>
                                                <td>Supervisor</td>
                                                <td>TxtSupervisor</td>
                                                <td>..</td>
                                                <td>..</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/panel-body-->
                        </div>
                        <!--/panel-->
                        <hr />
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>New Requests</h4>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item active">INFORMO A UD. QUE CON ESTA FECHA SE HA APROBADO LO SIGUIENTE:</a>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:30%">PRESUPUESTO REP N°</td>
                                                <td style="width:30%"></td>
                                            </tr>
                                            <tr>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:10%"></td>
                                                <td style="width:20%"></td>
                                                <td style="width:40%"> DropDownListPresupuestos Seleccionados</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td style="width:20%">APROBADO POR</td>
                                                <td style="width:50%"> Txt_APROBPOR</td>
                                                <td style="width:30%"> VENDEDOR</td>
                                            </tr>
                                            <tr>
                                                <td style="width:20%">TELEFONO CONTACTO</td>
                                                <td style="width:50%">Txt_TELCONTA</td>
                                                <td style="width:30%">Txt_VENDEDOR </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a href="#" class="list-group-item">BREVE DESCRIPCION DE LA REPARACIÓN A EFECTUAR</a>
                                    <table class="table table-striped">
                                        <tr>
                                            <td>
                                                <textarea id="tf_detalleArea" rows="4" cols="50" style="width: 100%" runat="server"></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/col-->

                        <div class="panel panel-default">
                            <div class="table-responsive">
                                <div class="panel-body">
                                    <%--   <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:60%">REPUESTOS Y/O REPARACIÓN</th>
                                                <th style="width:20%">CANT.</th>
                                                <th style="width:20%">CODIGO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>...</td>
                                                <td>0</td>
                                                <td>...</td>
                                            </tr>
                                            <tr>
                                                <td>...</td>
                                                <td>0</td>
                                                <td>...</td>
                                            </tr>
                                            <tr>
                                                <td>...</td>
                                                <td>0</td>
                                                <td>...</td>
                                            </tr>
                                            <tr>
                                                <td>...</td>
                                                <td>0</td>
                                                <td>...</td>
                                            </tr>
                                            <tr>
                                                <td>...</td>
                                                <td>0</td>
                                                <td>...</td>
                                            </tr>
                                        </tbody>
                                    </table>--%>

                                    <asp:GridView ID="GridView_RepuestosReparacion" Width="100%" class="table table-striped" onrowediting="GridView_RepuestosReparacion_RowEditing" onrowupdating="GridView_RepuestosReparacion_RowUpdating" onrowcancelingedit="GridView_RepuestosReparacion_RowCancelingEdit" style="height: 28px">
                                        <Columns>
                                            <asp:CommandField ShowEditButton="True" CancelImageUrl="~/content/Imagenes/cancelGrid.png" HeaderText="Edición" SelectImageUrl="~/content/Imagenes/SeleccionGrid.png" ButtonType="Image" EditImageUrl="~/content/Imagenes/editGrid.png" InsertImageUrl="~/content/Imagenes/warningGrid.png" UpdateImageUrl="~/content/Imagenes/okGrid.png" />
                                            <asp:BoundField HeaderText="Repuestos Y/O Reparación" />
                                            <asp:BoundField HeaderText="CANT." />
                                            <asp:BoundField HeaderText="CODIGO" />
                                        </Columns>
                                    </asp:GridView>
                                </div>
                            </div>
                            <hr />
                            <hr />
                            <div class="table-responsive">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:10%"></th>
                                                <th style="width:80%">TRABAJOS TERCEROS</th>
                                                <th style="width:10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <textarea id="Textarea_trabTerc" rows="4" cols="50" style="width: 100%" runat="server"></textarea>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>..</td>
                                                <td>..</td>
                                                <td>..</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/panel-->
                        <!--/col-span-6-->
                        <!-- COLUMNA DERECHA-->
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>CONTROL DE TERMINO DE TRABAJOS</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td>FECHA</td>
                                                <td>...</td>
                                                <td>GUIA N°</td>
                                                <td>TxtBoxGuia </td>
                                                <td>TECNICO</td>
                                                <td>TxtBoxTec</td>
                                            </tr>
                                            <tr>
                                                <td>SUPERVISOR</td>
                                                <td>TxtBoxSup </td>
                                                <td>FECHA</td>
                                                <td>...</td>
                                                <td>FIRMA</td>
                                                <td>...</td>
                                            </tr>
                                            <tr>
                                                <td>VENTAS</td>
                                                <td>TxtBoxNumVen </td>
                                                <td>FECHA</td>
                                                <td>02-OCT</td>
                                                <td>FIRMA</td>
                                                <td>...</td>
                                            </tr>
                                            <tr>
                                                <td>...</td>
                                                <td>...</td>
                                                <td>...</td>
                                                <td>...</td>
                                                <td>...</td>
                                                <td>...</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--/panel-->
                    </div>
                    <!--/row-->
                    <hr />
                    <div class="table-responsive">
                        @*  <asp:Button ID="Btn_Guardar" runat="server" class="btn btn-primary btn-block" Text="GUARDAR" OnClick="BtnGuardar_Click" />*@
                    </div>
                    <hr />
                </div>
                <!--/col-span-9-->
            </div>
        </div>
    </div>
</div>